@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.camera-frame {
  background: #111;             
  padding: 5px;                 
  border-radius: 20px;           
  box-shadow: 
    0 0 0 3px #000,
    0 10px 30px rgba(0,0,0,0.6);
  display: inline-block;
}

.camera-screen {
  width: 480px;                  
  height: 360px;
  background: black;
  border-radius: 10px;           
  object-fit: cover;
}

